<div ng-controller="selectListController">
  <form name="myForm">
    <label for="mySelect">Make a choice:</label>
    <select name="mySelect" id="mySelect"
            ng-options="option.name for option in data.availableOptions track by option.id"
            ng-model="data.selectedOption"></select>
  </form>
</div>
